<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Dashboard</title>
  </head>
  <body>


    <!-- <h1>Add Book</h1>
    <form>
      <input id="addName" type="text" name="name" placeholder="Motor Gede Ican"><br>
      <button onclick="addDataProduct()">Tambah Produk</button>
    </form> -->
 
    <div class="container mt-5">
      <h1>Add Book</h1>
      <form>
        <div class="mb-3">
          <label for="addTitleBook" class="form-label">Judul</label>
          <input type="text" class="form-control" id="addTitleBook" name="title_book">
        </div>
        <div class="mb-3">
          <label for="addWriter" class="form-label">Penulis</label>
          <input type="text" class="form-control" id="addWriter" name="writer">
        </div>
        <div class="mb-3">
          <label for="addYearPublish" class="form-label">Tahun Terbit</label>
          <input type="text" class="form-control" id="addYearPublish" name="year_publish">
        </div>
        <div class="mb-3">
          <label for="addUserId" class="form-label">UserId</label>
          <input type="text" class="form-control" id="addUserId" name="user_id">
        </div>
      
        <!-- <button type="submit" class="btn btn-success" onclick="addDataProduct()">Submit</button> -->
        <a href="/" class="btn btn-success" onclick="addDataProduct()">Submit</a>
      </form>
    </div>
   


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>