<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Dashboard</title>
  </head>
  <body>

    <div class="container">
      <h1 class="">CRUD NODE JS, EXPRESS, and PostgreSQL</h1>
      <%results.slice(0, 1).forEach(item => {  %>
      <h5>data buku ini  <%= item.name %>  </h5>
      <% }); %>

      <a href="/addBook" class="btn btn-primary">Add Book</a>

      <div class="table-responsive">
        <table class="table table-dark table-striped mt-2">
          <thead class="table-dark">
            <tr>
              <th>Judul</th>
              <th>Penulis</th>
              <th>Tahun Terbit</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody> 
            <%results.forEach(item => {  %>
              <tr>
                <td><%= item.title_book %></td>
                <td><%= item.writer%></td>
                <td><%= item.year_publish%></td>
                <td>
                  <a href="/viewBook/<%= item.id %> " class="btn btn-primary">View</a>
                  <a href="/editBook/<%= item.id %> " class="btn btn-primary">Edit</a>
                  <a href="/hapus/<%= item.id %>" class="btn btn-danger">Delete</a>
                </td>
              </tr>
              <% }); %>
          </tbody>
        </table>
        </div>
    </div>
    

   




    





    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>